:root {
    --background-color-1: rgb(24, 25, 48);
    --background-color-2: rgb(17, 18, 33);
    --background-color-overlay: rgba(17, 18, 33, 0.8);
    --background-color-game-card: rgb(0, 0, 0);
    --background-color-footer: rgb(255, 255, 255);
    
    --background-img-games-rts-rust: url(../assets/images/games/rust_background.jpg);
    --background-img-games-unboxholics: url(../assets/images/games/unboxholics_background.png);

    --border-radius: 6px;

    --color-1: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;

    font-family: 'Poppins', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    color: var(--color-1);

    overflow-x: hidden;

    background-color: var(--background-color-1);

    scroll-behavior: smooth;
}

@media (max-width: 600px) {
    html, body {
        font-size: 8pt;
    }

    .navbar_buttons {
        display: none !important;
    }
}

a {
    text-decoration: none;
    color: var(--color-1);
}

.navbar {
    position: absolute;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 5vw;
    padding-right: 5vw;

    z-index: 2;
}

.navbar .navbar_logo,
.navbar .navbar_buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.navbar .navbar_logo img {
    width: auto;
    height: 50px;

    margin-right: 1vw;
}

.navbar .navbar_logo .title {
    font-size: 2em;
    font-weight: 600;
}

.navbar .navbar_buttons > div {
    padding: 2vh 1vw;

    cursor: pointer;
}

.section {
    width: 100vw;

    padding: 2vh 5vw;
}

.section > .title {
    text-align: center;

    font-size: 2em;
    font-weight: 600;

    margin-bottom: 2vh;
}

.section-landing {
    position: relative;

    height: 66vh;

    overflow: hidden;

    z-index: 0;
}

.section-landing > .background > div {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 102%;
    height: 102%;

    background-color: var(--background-color-overlay);

    z-index: -1;
}

.section-landing > .background > iframe {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    
    width: 102vw;
    height: 102vh;

    border: none;

    filter: blur(4px);

    z-index: -2;
}

@media (min-aspect-ratio: 16/9) {
    .section-landing > .background > iframe {
        height: calc(102vw * (9 / 16));
    }
}
@media (max-aspect-ratio: 16/9) {
    .section-landing > .background > iframe {
        width: calc(102vh / (9 / 16));
    }
}

.section-landing > .title {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    text-align: center;

    font-size: 4em;
    font-weight: 800;
}

.game-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.game-card {
    position: relative;

    width: 5vw;
    min-width: 300px;
    min-height: 500px;
    
    border-radius: var(--border-radius);

    background-color: var(--background-color-game-card);

    cursor: pointer;

    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.25);
    
    z-index: 0;
    
    overflow: hidden;
    
    transition: 
        transform 1s,
        box-shadow 1s;
}

.game-card:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 20px 4px rgba(0,0,0,0.25);

    z-index: 1;
}

.game-card-status {
    position: absolute;

    display: flex;
    align-items: center;
    gap: 0 0.3em;

    top: 8px;
    left: 8px;

    font-weight: 200;
}

.game-card-status > img {    
    width: auto;
    height: 20px;
}

.game-card-platform {
    position: absolute;

    top: 8px;
    right: 8px;
}

.game-card-platform > img {
    width: 20px;
    height: 20px;
}

.game-card-main {
    position: absolute;

    height: 75%;
    width: 100%;

    bottom: 0;

    padding: 0 8px;
}

.game-card-title {
    display: flex;
    align-items: flex-end;

    height: 50%;

    font-size: 2em;
    font-weight: 600;
}

.game-card-discription a {
    white-space: nowrap;

    display: inline-flex;
    gap: 0 0.1em;
    align-items: baseline;
}

.game-card-discription a:hover {
    text-decoration: underline;
}

.game-card-discription img {
    width: auto;
    height: 0.9em;
}

.game-card-background {
    position: absolute;
    
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    height: 102%;
    width: 102%;

    filter: blur(4px);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.game-card-background > div {
    position: absolute;
    
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    height: 102%;
    width: 102%;

    background-color: var(--background-color-overlay);
}

.game-card-background[data-game="rts-rust"] {
    background-image: var(--background-img-games-rts-rust);
}

.game-card-background[data-game="unboxholics"] {
    background-image: var(--background-img-games-unboxholics);
}

.rust {
    color: #ca402a;
}

.unboxholics {
    color: #fe183a;
}

.twitch {
    color: #9146ff;
}

.steam {
    color: #0e70a2;
}

.section-about {
    background-color: var(--background-color-2);
}

.about-container {
    max-width: 500px;
    
    margin: auto;

    text-align: justify;
}

.about-container img {
    width: auto;
    height: 0.9em;
}

.team-container {
    max-width: 800px;

    border-radius: 100px;

    margin: auto;
}

.team-person {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;

    gap: 0 16px;

    margin-bottom: 16px;

    background-color: var(--background-color-2);
    
    border-radius: 100px;

    text-align: left;

    transition: transform 1s;
}

.team-person-animation {
    animation-name: team-person-animation-keyframes;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes team-person-animation-keyframes {
    0%      { transform: scale(0.0); }
    100%    { transform: scale(1.0); }
}

.team-person:nth-child(even) {
    flex-direction: row-reverse;

    text-align: right;
}

.team-person-img {
    width: 200px;
    height: 200px;

    border-radius: 100px;
    
    background-color: var(--background-color-2);

    opacity: 0;

    overflow: hidden;
}

.team-person-img.team-person-img-animation {
    animation-name: team-person-img-animation-keyframes;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes team-person-img-animation-keyframes {
    0%      { opacity: 0; }
    100%    { opacity: 1; }
}

.team-person-img img {
    width: 100%;
    height: auto;
}

.team-person-name {
    font-size: 1.75em;
    font-weight: 600;
}

.team-person-name:hover {
    text-decoration: underline;
}

.team-person-position {
    font-size: 1em;
    font-weight: 200;
}

.section-contact {
    background-color: var(--background-color-2);
}

.contact-label {
    margin-bottom: 16px;

    font-size: 1em;
    font-weight: 200;

    text-align: center;
}

.contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    min-height: 33vh;
    padding-bottom: 32px;
}

.contact-email {
    display: flex;
    align-items: center;

    gap: 0 8px;

    font-size: 1.5em;
    font-weight: 600;
}

.contact-email img {
    width: 50px;
    height: 50px;
}

.contact-social-imgs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    gap: 0 16px;
}

.contact-social-imgs img {
    width: 50px;
    height: 50px;

    text-align: center;
}