:root {
    --background-color-1: rgb(24, 25, 48);
    --background-color-2: rgb(17, 18, 33);
    --background-color-overlay: rgba(17, 18, 33, 0.8);
    --background-color-game-card: rgb(0, 0, 0);
    --background-color-footer: rgb(255, 255, 255);
    
    --border-radius: 6px;

    --color-1: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;

    font-family: 'Poppins', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    color: var(--color-1);

    overflow-x: hidden;

    background-color: var(--background-color-1);
}

a {
    text-decoration: none;
    color: var(--color-1);
}

.navbar {
    position: absolute;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 5vw;
    padding-right: 5vw;

    z-index: 2;
}

.navbar .navbar_logo,
.navbar .navbar_buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.navbar .navbar_logo img {
    width: auto;
    height: 50px;

    margin-right: 1vw;
}

.navbar .navbar_logo .title {
    font-size: 2em;
    font-weight: 600;
}

.navbar .navbar_buttons > div {
    padding: 2vh 1vw;

    cursor: pointer;
}

.section {
    width: 100vw;
    min-height: 66vh;

    padding: 2vh 5vw;
}

.section > .title {
    text-align: center;

    font-size: 2em;
    font-weight: 600;

    margin-bottom: 2vh;
}

.section-landing {
    position: relative;

    height: 66vh;

    overflow: hidden;

    z-index: 0;
}

.section-landing > .background > div {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 102%;
    height: 102%;

    background-color: var(--background-color-overlay);

    z-index: -1;
}

.section-landing > .background > iframe {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    
    width: 102vw;
    height: 102vh;

    border: none;

    filter: blur(4px);

    z-index: -2;
}

@media (min-aspect-ratio: 16/9) {
    .section-landing > .background > iframe {
        height: calc(102vw * (9 / 16));
    }
}
@media (max-aspect-ratio: 16/9) {
    .section-landing > .background > iframe {
        width: calc(102vh / (9 / 16));
    }
}

.section-landing > .title {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    text-align: center;

    font-size: 4em;
    font-weight: 800;
}

.game-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.game-card {
    position: relative;

    width: 5vw;
    min-width: 300px;
    min-height: 500px;
    
    border-radius: var(--border-radius);

    background-color: var(--background-color-game-card);

    cursor: pointer;

    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.25);
    
    z-index: 0;
    
    overflow: hidden;
    
    transition: 
        transform 1s,
        box-shadow 1s;
}

.game-card:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 20px 4px rgba(0,0,0,0.25);

    z-index: 1;
}

.game-card-status {
    position: absolute;

    display: flex;
    align-items: center;
    gap: 0 0.3em;

    top: 8px;
    left: 8px;

    font-weight: 200;
}

.game-card-status > img {    
    width: auto;
    height: 20px;
}

.game-card-platform {
    position: absolute;

    top: 8px;
    right: 8px;
}

.game-card-platform > img {
    width: 20px;
    height: 20px;
}

.game-card-main {
    position: absolute;

    height: 75%;
    width: 100%;

    bottom: 0;

    padding: 0 8px;
}

.game-card-title {
    display: flex;
    align-items: flex-end;

    height: 50%;

    font-size: 2em;
    font-weight: 600;
}

.game-card-discription a {
    white-space: nowrap;

    display: inline-flex;
    gap: 0 0.1em;
    align-items: baseline;
}

.game-card-discription a:hover {
    text-decoration: underline;
}

.game-card-discription img {
    width: auto;
    height: 0.9em;
}

.game-card-background {
    position: absolute;
    
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    height: 102%;
    width: 102%;

    filter: blur(4px);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.game-card-background > div {
    position: absolute;
    
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    height: 102%;
    width: 102%;

    background-color: var(--background-color-overlay);
}

.game-card-background[data-game="rts-rust"] {
    background-image: url(../assets/images/rust_background.jpg);
}

.game-card-background[data-game="unboxholics"] {
    background-image: url(../assets/images/unboxholics_background.png);
}

.rust {
    color: #ca402a;
}

.unboxholics {
    color: #fe183a;
}

.twitch {
    color: #9146ff;
}

.section-about {
    background-color: var(--background-color-2);
}

.footer {
    width: 100vw;
    min-height: 66vh;

    background-color: var(--background-color-footer);
}
